/* Configurações Globais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5; 
    color: #1c1e21;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Cabeçalho */
h1 {
    background-color: #003366;
    color: white;
    margin: 0;
    padding: 40px 0;
    text-align: center;
    letter-spacing: 2px;
}


img {
    display: block;
    width: 100%;
    height: auto
    object-fit cover; 
    border-bottom: 5px solid #ff6600; 
}

/* Menu de Navegação */
a {
    background-color: #fff;
    padding: 15px;
    margin: 0;
    text-align: auto;
    box-shadow: 0 2px 5px;
     text-decoration: none; 
     
}


p a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
    transition: 0.3s;
}

p a:hover {
    color: #ff6600;
}

/* Conteúdo Principal */
h2, h3, p, ul {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

h2 {
    color: #003366;
    border-left: 6px solid #ff6600;
    padding-left: 15px;
    margin-top: 40px;
    .contact-nav a {
    text-decoration: none; 
}
}

/*  Listas */
ul {
    list-style: none; 
    padding: 0;
}

ul li {
   
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: auto;
}

ul li a {
    color: #1a73e8;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* Rodapé/Linhas */
hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px 0;
}

a {
    bottom: 20px;
    border-radius: 10px;
    color:#ff6600;
     transition: all 0.3 ease-in-out;
     
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    color:#011636;
}